<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8"/>
    <title>NodeJS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Switching" name="description"/>
    <meta content="Koperasi Telekomunikasi Selular" name="author"/>
    <!-- App favicon -->
    <link rel="shortcut icon" href="https://cdn.kiselindonesia.net:6798/new_abuba/images/favicon.ico">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.kiselindonesia.net:6798/new_abuba/js/vendor/jquery.loading.min.js"></script>
    <!-- third party css -->
    <link href="https://cdn.kiselindonesia.net:6798/new_abuba/css/vendor/dataTables.bootstrap4.css" rel="stylesheet"
          type="text/css"/>
    <link href="https://cdn.kiselindonesia.net:6798/new_abuba/css/vendor/responsive.bootstrap4.css" rel="stylesheet"
          type="text/css"/>
    <link href="https://cdn.kiselindonesia.net:6798/new_abuba/css/vendor/buttons.bootstrap4.css" rel="stylesheet"
          type="text/css"/>
    <link href="https://cdn.kiselindonesia.net:6798/new_abuba/css/vendor/select.bootstrap4.css" rel="stylesheet"
          type="text/css"/>
    <link href="https://cdn.kiselindonesia.net:6798/new_abuba/css/vendor/loading-overlay.css" rel="stylesheet"
          type="text/css"/>

    <!-- App css -->
    <link href="https://cdn.kiselindonesia.net:6798/new_abuba/css/icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.kiselindonesia.net:6798/new_abuba/css/app.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.kiselindonesia.net:6798/new_abuba/css/vendor/dropify.min.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <!--<link href="stylesheets/loading-overlay.css" rel="stylesheet" type="text/css"/>-->



    <style>
        #newBG {
            background-image: linear-gradient(150deg, #7c0b2b 0, #3e000c 60%);;
        }

        .btn-primary {
            color: #fff;
            background-color: #08153C;
            border-color: #08153C;
        }

        .btn-primary:hover {
            color: #fff;
            background-color: #2B4C70;
            border-color: #2B4C70;
        }

        .btn-danger {
            color: #fff;
            background-color: #7c0b2b;
            border-color: #7c0b2b;
        }

        .page-item.active .page-link {
            z-index: 1;
            color: #fff;
            background-color: #193863;
            border-color: #193863;
        }

        .select2-container .select2-selection--multiple .select2-selection__choice {
            background-color: #0b0e7c;
            border: none;
            color: #fff;
            border-radius: 3px;
            padding: 0 7px;
            margin-top: 6px;
        }
        .jak-blur {
            filter: blur(3px);
        }

    </style>
</head>
<input type="checkbox" id="css-input" checked style="display: none"/>

<body>
<div id="target">